.color-set {
  width: 220px;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.color-set__name {
  font-size: 20px;
}

.color-set__tech {
  background-image: linear-gradient(
    to right,
    #363533 0%,
    #363533 33%,
    #000000 34%,
    #000000 66%,
    #871c1c 67%,
    #871c1c 100%
  );

  width: 100%;
  height: 100%;
}
